{% extends 'base.html' %}

{% block content %}

<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos perferendis perspiciatis, nostrum ipsum soluta distinctio iusto culpa ea. Quae, fugiat illo. Nesciunt, id. Aspernatur assumenda tenetur voluptas, ipsam, ex nisi eos sint ut quaerat suscipit necessitatibus sed architecto quas explicabo minus ad expedita laboriosam in nesciunt numquam accusantium vero libero aut! Id inventore excepturi, illum dignissimos iure iste officiis, labore quisquam quasi ex accusantium error aut. Porro beatae rerum, sunt soluta deleniti impedit pariatur in alias tenetur perspiciatis quidem aspernatur magni molestias, quas ullam rem odio numquam! Maxime, numquam odit corporis ullam sequi incidunt excepturi quos molestiae facere voluptate inventore.</p>
{% endblock %}
